<br> <br> <br>
<div class="">
<div id="intro"> 
  <h3>
    "Discover the joy of finding hidden treasures with our one-stop-shop for garage sales. Our website is designed to make your life easier by providing a platform for sellers to list their items and for buyers to search and find their next great bargain. Whether you're looking for vintage clothing, unique collectibles or one-of-a-kind finds, our website has everything you need to make your next garage sale adventure a success. Explore our listings and start your <a href="#map" id="start">search</a> today!"
  <br> 
</h3> 
<br> <img src="Images/pnghut_garage-sale-vector-graphics-sales-clip-art-illustration-yard-furniture.png" > <br>
<div class="display-flex justify-center align-center">
<h3>Scroll to the listings below to find garage sale items in your area or click the button below to create an account to start listing items.<br></h3>
<br>
</div>
<br> <br> <br>
{{#if logged_in}}
<div class="display-flex justify-center align-center">
 <button id="profile-btn" class="btn btn-primary" onclick="document.location.href='/profile';">
     Create Listing
  </button>
  </div>
  {{else}}
<div class="display-flex justify-center align-center">
<button id="profile-btn" class="btn btn-primary" onclick="document.location.href='/login';">
     Get Started
</button>
</div>
    {{/if}}
</div>
</div>

<br> <br>
<br> <br>

<div id="top-row" class="row">  
<!-- Loop over each object in the projects array -->
<div class="col-md-2">
    <h2>Search</h2>
    <form class="form search-form">
      <div class="form-group">
        <label for="zipcode">Zipcode:</label>
        <input class="form-input" type="text" id="zipcode" />
      </div>
      <div class="form-group">
        <label for="item-search">Desired Item:</label>
        <input class="form-input" type="text" id="item-search" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </div>
  <div id="map" style="width: 70%; height: 500px;"></div>
      {{{ map }}}
</div>

  
  <h2> Listings </h2>
  <br>
  <br>
  <div id="projectDiv">
{{#each projects as |project| }}
<div class="row mb-3 project">
  <div class="col-md-4">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <form action="/profile" method="post" enctype="multipart/form-data">
</form>
  <a href="/project/{{project.id}}">{{project.item_name}}</a>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.price}}</span>
    </p>
    <p>Created by {{project.user.name}}</p>
  </div>
  <div class="col-md-7 pt-2">
     <p>Address of listing: {{street_address}} {{city}} {{state}}, {{zip}}</p>
    <p>
      {{project.description}}
    </p>
 <img src="../{{project.photo}}" height = "100px" width = "150px" alt = "project photo">
  </div>
  </div>

{{/each}}
</div>
