<div class="text-center">
  <h2>{{name}}</h2>
  <img src="../{{photo}}" height = "150px" width = "200px" alt = "project photo">
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{date_created}}</p>
  <p>
    <span for="img" aria-label="money">:heavy_dollar_sign:</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
